# This file is for local development for the frontend.
# Copy this to .env.local and fill in values.

# Server-Side Secrets
# The REAL API URL for the assessment
TARGET_API_URL_SECRET=https.://recruitment.warpdevelopment.co.za/v2/api/authenticate

#Personal details for the final submission
MY_NAME=""
MY_SURNAME=""
MY_EMAIL=""

#URL for the production mock
MOCK_API_INTERNAL_URL="http://mock-api:4000/v2/api/authenticate"

#The URL for the local mock
MOCK_API_LOCAL_URL="http://localhost:4000/v2/api/authenticate"