#Create a .env file and use these values. I don't mind exposing the information here
#as it is not sensitive.
MOCK_CORRECT_PASSWORD=P@55w0rd #Set the password to validate against.
MOCK_PORT=4000 #Set the port the express server will listen on.