#This is an example .env file. Create a .env file and fill in the values.

#This project has a "mock" express api to simulate the rules of the real API. 
#I suspect that the timeout increase of 15min per attempt is permanent as it is not otherwise state,
#which will quickly make it impractical to test should the tests fail.

TARGET_API_URL=http://localhost:4000/v2/api/authenticate #Use this for the mock server.
#TARGET_API_URL=https://recruitment.warpdevelopment.co.za/v2/api/authenticate #Use this for production to run against the real endpoint.

#Creds
USERNAME=John

#Your Details: Ensure they match the vars in submit.js, You have to a prefix_NAME as an example because NAME could be a operating system variable already. 
MY_NAME="Boaty"
MY_SURNAME="McBoatface"
MY_EMAIL="boaty@domain.com"

#Path to Resume - You must have a Resume in the root directory as a PDF
CV_PATH="./Your_Resume.pdf"
